Source: pika-drivers
Section: admin
Priority: optional
Maintainer: Pika <root@pika.com>
Build-Depends: debhelper (>= 9),
            build-essential,
            debhelper,
            python3,
            meson,
            libadwaita-1-dev,
            gettext,
            desktop-file-utils,
            make,
            libjpeg-dev
Standards-Version: 3.9.5

Package: pika-drivers
Architecture: linux-any
Pre-Depends: apt
Depends: libadwaita-1-0,
         gir1.2-gtk-4.0,
         gir1.2-adw-1,
         gir1.2-vte-3.91,
         zenity,
         inxi,
         coreutils,
         ${shlibs:Depends}
Description: This utility is meant to be used in PikaOS to manage drivers.
