[Desktop Entry]
Name=PikaOS Driver Manager
Exec=pika-drivers
Icon=com.github.pikaos-linux.pikadrivers
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings;XFCE;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
StartupNotify=true
